<% if(locals.user) {%>
<footer id="layout-footer">
<% } else {%>
    <footer id="layout-footer">
<% } %>
    
        <div style="margin:auto">
            <span>&copy Skyinyou</span>
            <span class="initiated">(Founder & Developer
                <a href="https://jainmanjari.github.io/" target="_blank"><i class="fab fa-pagelines"></i>  TheHindFlora</a>)
            </span>
        </div>
    
</footer>